<%- include('header') %>
<h1>About Me</h1>
<p>
    Hello there, I'm Matthew Adrianus Mulyono, and this is my Daily Journal Website.
    This Blog Post Project implements Backend Web Development using Express.js, implementing Bootstrap, Routing, and EJS templating.
    Thanks for visiting this website!
</p>
<%- include('footer') %>
